<!--
 * @description
 * 
 * A humpback-view created at Sat Aug 29 2015 16:08:20 GMT-0400 (EDT).
-->
<!--admin/data/view/index.ejs-->

<div class="grid-block">
	<div class="vertical grid-block medium-8 large-9" ui-view="content">
		<div class="admin-header-block">
			
			<div class="grid-content">
				<div>
					<h1>{{ thismodel.name }}</h1>
					<p class="lead">
						{{ thismodel.description }}
					</p>
				</div>
			</div>
		</div>
		<div class="admin-filters-block" ui-view="filters">
			<div class="grid-block">
				<div class="grid-content">
					<form
						ng-submit="model.Collection.addFilter()"
					>
						<span class="select inline-label">
							
							<select 
								ng-model="model.Collection.filter[0]"
								ng-options="key as key for (key,value) in thismodel.attributes"
							>
								<option value="">-- Search By --</option>
							</select>
							<input 
								type="search" 
								placeholder="Search {{ thismodel.name }}..."
								ng-model="model.Collection.filter[1]"
							>
							<button 
								class="button"
							>
								Search
							</button>
						</span>
					</form>
					
					<a 
						ng-repeat="(filter, value) in model.Collection.criteria"
						ng-click="model.removeFilter(filter)"
					>
						<span class="label close">{{ filter }}: {{ value.contains | iif: value.contains : value }}</span>
					</a>
					<a 
						ng-click="model.Collection.clearFilters()"
					>
						Clear Filters
					</a>
					<p>
						Showing {{ model.Collection.start | number }} - {{ model.Collection.end | number }} of {{ model.Collection.total | number }}
					</p>
				</div>
			</div>
			<div class="grid-block">
				<div class="grid-block">
					<div class="grid-content">
						<select 
							ng-model="model.Collection.limit"
							ng-options="items.value as items.name for items in filters.itemsPerPage"
							ng-change="model.Collection.reset('limit')"
						>
							<option value="">-- Items Per Page --</option>
						</select>
					</div>
				</div>
				<div class="grid-block">
					<div class="grid-content">
						<select 
							ng-model="model.Collection.sort"
							ng-options="items.value as items.name for items in filters.itemsSort"
							ng-change="model.Collection.reset('sort')"
						>
							<option value="">-- Sort Items --</option>
						</select>
					</div>
				</div>
			</div>
		</div>
		<div class="admin-body-block">
			
			<div class="loader" ng-class="{'done' : !model.Collection.busy}">
				<h3>Loading...</h3>
			</div>

			<div class="grid-content">
				<div 
					class="admin-well"
					ng-repeat="item in model.Collection.visible"
				>
					<a
						ui-sref="admin.data.data.data({model: thismodel.identity, item: item.id})"
					>
						{{ item }}
					</a>
				</div>
			</div>
		</div>
		<div class="admin-footer-block" ui-view="footer">
			<div 
				paging
				class="grid-block align-center" 
				page="model.Collection.page" 
				page-size="model.Collection.limit" 
				total="model.Collection.total"
				dots="..."
				adjacent="2"
				show-prev-next="true"
				hide-if-empty="true"
				ul-class="paging-menu-bar"
				active-class="isActive"
				disabled-class="isDisabled"
				paging-action="model.Collection.paging('Paging Clicked', page, pageSize, total)">
			</div> 
		</div>
	</div>
	<div class="grid-content medium-4 large-3" ui-view="widgets">
		
	</div>
</div>
