<!--
 * @description
 * 
 * A humpback-view created at Sat Aug 29 2015 16:08:20 GMT-0400 (EDT).
-->
<!--admin/data/view/view/widgets.ejs-->
<div class="grid-block">
	<div class="loader" ng-class="{'done' : !item.busy}">
		<h3>Loading...</h3>
	</div>
	<div class="grid-content">
		<ul class="button-group">
			<li
				ng-show="item.isNew"
			>
				<a 
					ng-click="createItem()"
				>
					{{ item.updating | iif : 'Creating...' : 'Create' }}
				</a>
			</li>
			<li
				ng-show="!item.isNew"
			>
				<a
					ng-click="updateItem()"
				>
					{{ item.updating | iif : 'Updating...' : 'Update' }}
				</a>
			</li>
			<li
				ng-show="!item.isNew"
			>
				<a 
					href="#"
					zf-open="deleteModal"
					class="alert button"
				>
					Delete
				</a>
				<div zf-modal="" id="deleteModal" class="small">
					<h4>Delete {{ thismodel.name }} item</h4>
					<p class="lead">Do you <em>really</em> want to do this? It can not be undone.</p>
					<a 
						zf-close=""
						ng-click="deleteItem()"
						class="alert button"
					>
						{{ item.deleting | iif: 'Deleting...' : 'Yes' }}
					</a>
					<a 
						zf-close="" 
						class="secondary button"
					>
						No
					</a>
				</div>
			</li>
		</ul>

		<h3>Attributes</h3>
		
		<p ng-repeat="(key, value) in thismodel.attributes">
			<span>{{ key }}</span>

			<span ng-if="value.type">{{ value.type }}</span>
			<span ng-if="value.model">Model: {{ value.model }}</span>
			<span ng-if="value.enum">{{ value.enum }}</span>
			<span ng-if="value.collection">Collection: {{ value.collection }}</span>
		</p>
	</div>
</div>