<!--
 * @description
 * 
 * A humpback-view created at Sun Oct 11 2015 18:20:49 GMT-0400 (EDT).
-->
<!--admin/dashboard/index.ejs-->

<div class="admin-header-block">
	<div class="grid-content">
		<h1>Dashboard</h1>
	</div>
</div>
<div class="grid-block">
	<div 
		class="grid-content"
		ng-cms="__route.selected" 
	>
		Welcome to Admin
	</div>
	<div class="grid-content">
		<h2>Barnacles</h2>
		<div ng-repeat="(key, value) in __barnacles">
			{{ key }}: {{ value }}
		</div>
	</div>
</div>