<!--
 * @description
 * 
 * A humpback-view created at Wed Sep 09 2015 18:52:30 GMT-0400 (EDT).
-->
<!--admin/role/view/index.ejs-->

<div class="grid-block">
	<div class="grid-block medium-8 large-9">

		<div class="loader" ng-class="{'done' : !role.busy}">
			<h3>Loading...</h3>
		</div>

		<div class="grid-content">
			<h1>{{ thisrole.name }}</h1>
			<form

			>
				<div ng-repeat="item in role.model.selected.attributes | toArray: true">

				<div 
					ng-api-input="item"
					api-model="role.model.selected" 
					api-label="item.$key"
					api-input="thisrole[item.$key]"
				>
				</div>
			</div>
			</form>
		</div>
	</div>

	<div class="grid-block medium-4 large-3" ui-view="widgets">

	</div>

</div>

