<!--
 * @description
 * 
 * A humpback-view created at Mon Aug 31 2015 09:23:58 GMT-0400 (EDT).
-->
<!--admin/email/index.ejs-->

<div class="admin-header-block">
	<div class="grid-content">
		<div class="clearfix">
			<h1
				class="float-left"
			>
				Email Management
			</h1>
			<ul class="button-group float-right">
				<li>
					<a 
						ui-sref="admin.email.new"
					>
						New Email Template
					</a>
				</li>
			</ul>
		</div>
		<p class="lead">
			Manage Email Templates
		</p>
	</div>
</div>
<div class="admin-filters-block" ui-view="filters">
	<div class="grid-block">
		<div class="grid-content">
			<form
				ng-submit="emails.addFilter()"
			>
				<span class="select inline-label">
					
					<select 
						ng-model="emails.filter[0]"
						ng-options="key as key for (key,value) in emails.model.selected.attributes"
					>
						<option value="">-- Search By --</option>
					</select>
					<input 
						type="search" 
						placeholder="Search Email Templates..."
						ng-model="emails.filter[1]"
					>
					<button 
						class="button"
					>
						Search
					</button>
				</span>
			</form>
			
			<a 
				ng-repeat="(filter, value) in emails.criteria"
				ng-click="emails.removeFilter(filter)"
			>
				<span class="label close">{{ filter }}: {{ value.contains | iif: value.contains : value }}</span>
			</a>
			<a 
				ng-click="emails.clearFilters()"
			>
				Clear Filters
			</a>
			<p>
				Showing {{ emails.start | number }} - {{ emails.end | number }} of {{ emails.total | number}}
			</p>
		</div>
	</div>
	<div class="grid-block">
		<div class="grid-block">
			<div class="grid-content">
				<select 
					ng-model="emails.limit"
					ng-options="items.value as items.name for items in filters.itemsPerPage"
					ng-change="emails.reset('limit')"
				>
					<option value="">-- Items Per Page --</option>
				</select>
			</div>
		</div>
		<div class="grid-block">
			<div class="grid-content">
				<select 
					ng-model="emails.sort"
					ng-options="items.value as items.name for items in filters.itemsSort"
					ng-change="emails.reset('sort')"
				>
					<option value="">-- Sort Items --</option>
				</select>
			</div>
		</div>
	</div>
</div>
<div class="admin-body-block" ui-view="content">
	<div class="grid-content">
		
		<div class="loader" ng-class="{done: !emails.busy}">
 			<h2 class="loading-content">Loading Emails...</h2>
 		</div>
 		<div ng-show="emails.visible.length == 0 && !emails.busy" class="not-found text-center">
			<h2>No Emails</h2>
		</div>
		<div 
			class="admin-well" 
			ng-repeat="email in emails.visible"
		>
			<a ui-sref="admin.emails.email({id: email.id})">
				{{ email.name }} {{ email.createdAt | date }}
			</a>
		</div>
	</div>
</div>
<div class="admin-footer-block" ui-view="footer">
	<div 
		paging
		class="grid-block align-center" 
		page="emails.page" 
		page-size="emails.limit" 
		total="emails.total"
		dots="..."
		adjacent="2"
		show-prev-next="true"
		hide-if-empty="true"
		ul-class="paging-menu-bar"
		active-class="isActive"
		disabled-class="isDisabled"
		paging-action="emails.paging('Paging Clicked', page, pageSize, total)">
	</div> 
</div>