<!--
 * @description
 * 
 * A humpback-view created at Thu Aug 13 2015 17:13:08 GMT-0400 (EDT).
-->
<!--home/index.ejs-->

<div class="grid-block align-center">
	<div class="grid-block medium-8 large-4 v-align">
		<div 
			class="grid-content text-center"
			ng-cms="__route.selected" 
		>
			Welcome to your new Humpback App
		</div>
	</div>
</div>