<div class="grid-content">
	<ul class="button-group">
		<li
			ng-show="user.isNew"
		>
			<a
				ng-click="createUser()"
			>
				{{ user.updating | iif : 'Creating...' : 'Create' }}
			</a>
		</li>
		<li
			ng-show="!user.isNew"
		>
			<a 
				ng-click="updateUser()"
			>
				{{ user.updating | iif : 'Updating...' : 'Update' }}
			</a>
		</li>
		<li
			ng-show="!user.isNew"
		>
			<a 
				href="#"
				zf-open="deleteModal"
				class="alert button"
			>
				Delete
			</a>
			<div zf-modal="" id="deleteModal" class="small">
				<h4>Delete {{ thisuser.username }}</h4>
				<p class="lead">Do you <em>really</em> want to do this? It can not be undone.</p>
				<a 
					zf-close=""
					ng-click="deleteUser()"
					class="alert button"
				>
					{{ user.deleting | iif: 'Deleting...' : 'Yes' }}
				</a>
				<a 
					zf-close="" 
					class="secondary button"
				>
					No
				</a>
			</div>
		</li>
	</ul>

	<h3>Roles</h3>
	<div ng-repeat="role in user.Roles.visible">
		<label>
			<input 
			
				type="checkbox"
				checklist-model="thisuser.roles" 
				checklist-value="role"
				checklist-comparator=".id"
			>
		
			{{ role.name }}
		</label>
	</div>
	<a ui-sref="admin.role.new">
		Add New Role
	</a>

	<h3>Passports</h3>
	<div ng-repeat="passport in user.Passports.visible">
		<p>		
			<label>{{ passport.protocol }}</label>
		</p>
	</div>
	<a 
		
		ui-sref="admin.user.user.password({id: thisuser.id })"
	>
		Edit Passports
	</a>

</div>