<!--
 * @description
 * 
 * A humpback-view created at Tue Aug 25 2015 11:28:21 GMT-0400 (EDT).
-->
<!--admin/cms/index.ejs-->
<div class="admin-header-block">
	<div class="grid-content">
		<div class="clearfix">
			<h1 class="float-left">
				Content Management
			</h1>
			<ul class="button-group float-right">
				<li>
					<a 
						ui-sref="admin.cms.categories"
					>
						Categories
					</a>
				</li>
				<li>
					<a 
						ui-sref="admin.cms.new"
					>
						New Page
					</a>
				</li>
				<li>
					<a 
						ui-sref="admin.cms.categories.new"
					>
						New Category
					</a>
				</li>
			</ul>
		</div>
		<p class="lead">
			Manage Content, Content Permissions, and more 
		</p>
	</div>
</div>
<div class="admin-filters-block" ui-view="filters">
	<div class="grid-block">
		<div class="grid-content">
			<form
				ng-submit="routes.addFilter()"
			>
				<span class="select inline-label">
					<select 
						ng-model="routes.filter[0]"
						ng-options="key as key for (key,value) in routes.model.selected.attributes"
					>
						<option value="">-- Search By --</option>
					</select>
					
					<input 
						type="search" 
						placeholder="Search Content..."
						ng-model="routes.filter[1]"
					>
					<button 
						type="submit"
						class="button"
					>
						Search
					</button>
				</span>
			</form>
			<a 
				ng-repeat="(filter, value) in routes.criteria"
				ng-click="routes.removeFilter(filter)"
			>
				<span class="label close">{{ filter }}: {{ value.contains | iif: value.contains : value }}</span>
			</a>
			<a 
				ng-click="routes.clearFilters()"
			>
				Clear Filters
			</a>
			<p>
				Showing {{ routes.start | number }} - {{ routes.end | number }} of {{ routes.total | number}}
			</p>
		</div>
	</div>
	<div class="grid-block">
		<div class="grid-block">
			<div class="grid-content">
				<select 
					ng-model="routes.limit"
					ng-options="items.value as items.name for items in filters.itemsPerPage"
					ng-change="routes.reset('limit')"
				>
					<option value="">-- Items Per Page --</option>
				</select>
			</div>
		</div>
		<div class="grid-block">
			<div class="grid-content">
				<select 
					ng-model="routes.sort"
					ng-options="items.value as items.name for items in filters.itemsSort"
					ng-change="routes.reset('sort')"
				>
					<option value="">-- Sort Items --</option>
				</select>
			</div>
		</div>
	</div>
</div>
<div class="admin-content-block" ui-view="content">
	<div class="loader" ng-class="{done: !routes.busy}">
		<h2 class="loading-content">
			Loading Pages...
		</h2>
	</div>
	
	<div class="grid-content">		
		<div ng-show="routes.visible.length == 0 && !routes.busy" class="not-found text-center">
			<h2>
				No Pages
			</h2>
		</div>
		<div class="admin-well" ng-repeat="route in routes.visible | orderBy: routes.angularSort">
			<a ui-sref="admin.cms.cms({id: route.id})">
				<h5>{{ route.title || route.uri }}</h5>
				<span>{{ route.verb }} {{ route.uri }}</span>
			</a>
		</div>
	</div>
</div>
<div class="admin-footer-block" ui-view="footer">
	<div 
		paging
		class="grid-block align-center" 
		page="routes.page" 
		page-size="routes.limit" 
		total="routes.total"
		dots="..."
		adjacent="2"
		show-prev-next="true"
		hide-if-empty="true"
		ul-class="paging-menu-bar"
		active-class="isActive"
		disabled-class="isDisabled"
		paging-action="routes.paging('Paging Clicked', page, pageSize, total)">
	</div> 
</div>