<!--
 * @description
 * 
 * A humpback-view created at Tue Sep 15 2015 09:04:45 GMT-0400 (EDT).
-->
<!--admin/settings/view/widgets.ejs-->

<div class="grid-content">
	<ul class="button-group">
		<li
			ng-show="setting.isNew"
		>
			<a 
				class="button" 
				ng-click="createSetting()"
			>
				{{ setting.updating | iif : 'Creating...' : 'Create' }}
			</a>
		</li>
		<li
			ng-show="!setting.isNew"
		>
			<a
				class="button" 
				ng-click="updateSetting()"
			>
				{{ setting.updating | iif : 'Updating...' : 'Update' }}
			</a>
		</li>
		<li
			ng-show="!setting.isNew"
		>
			<a 
				href="#"
				zf-open="deleteModal"
				class="alert button"
			>
				Delete
			</a>
			<div zf-modal="" id="deleteModal" class="small">
				<h4>Delete {{ thissetting.name }}</h4>
				<p class="lead">Do you <em>really</em> want to do this? It can not be undone.</p>
				<a 
					zf-close=""
					ng-click="deleteSetting()"
					class="alert button"
				>
					{{ setting.deleting | iif: 'Deleting...' : 'Yes' }}
				</a>
				<a 
					zf-close="" 
					class="secondary button"
				>
					No
				</a>
			</div>
		</li>
	</ul>
</div>